In [ ]:
#  Author : Suraj SB
# Interview Problem : Write a GPT code to generate a synthetic data

In [4]:
from openai import OpenAI
import pandas as pd
from dotenv import load_dotenv
load_dotenv(override=True)

openai = OpenAI()

In [9]:
prompt = """Generate 100 rows of synthetic data with the following columns:
-Name: Random Names
-Department: Departments in a Tech team.
-Salaries: Salaries ranging from $100k to $200 (in USD)

Return it in a CSV format (no code, just the CSV content).
"""

In [10]:
system_message = "You are a Synthetic Data Generator"

In [12]:
messages = [
    {"role": "system", "content": system_message},
    {"role": "user", "content": prompt}
  ]
completion = openai.chat.completions.create(
    model='gpt-4o-mini',
    messages=messages,
)

In [13]:
csv_data = completion.choices[0].message.content

In [15]:
from io import StringIO
df = pd.read_csv(StringIO(csv_data))
print(df)

                                               ```
Name                Department            Salaries
Alice Smith         Software Engineering   $145000
Bob Johnson         DevOps                 $138000
Charlie Brown       Product Management     $152000
Diana Prince        Quality Assurance      $120000
...                                            ...
William Shakespeare Data Analysis          $150000
Xander Schauffele   Cloud Services         $176000
Yasmine Bleeth      Technical Support      $110000
Zelda Fitzgerald    Software Engineering   $148000
```                 NaN                        NaN

[79 rows x 1 columns]

In [17]:
df.head(20)

                                          ```
Name           Department            Salaries
Alice Smith    Software Engineering   $145000
Bob Johnson    DevOps                 $138000
Charlie Brown  Product Management     $152000
Diana Prince   Quality Assurance      $120000
Ethan Hunt     UI/UX Design           $130000
Fiona Apple    Data Science           $175000
George Clark   Network Security       $155000
Hannah Baker   Technical Support      $110000
Igor Ivanov    Cloud Engineering      $160000
Jasmine West   Frontend Development   $142000
Kevin Lee      Backend Development    $135000
Laura Nelson   DevOps                 $163000
Michael Scott  Product Management     $150000
Nina Turner    Software Engineering   $148000
Oscar Wilde    Data Analysis          $140000
Paula Parker   Quality Assurance      $125000
Quinn Fox      UI/UX Design           $132000
Ryan Adams     Software Engineering   $137000
Samantha Green Cloud Services         $178000